<h1>
  Finalize Details for <%= @the_listing.name %>
</h1>
<h3>
  Let's talk about the space
</h3>

<div>
  <div>
    <a href="/listings">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_listing/<%= @the_listing.id %>">
      Cancel listing
    </a>
  </div>
</div>

<div>
  <div>
    <h2>
      Finalize Listing
    </h2>

    <form action="/edit_listing/<%= @the_listing.id %>"  method="post" >
      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_listing.owner_id %>">
      </div>

      <div>
        <label for="open_date_box">
          Open date
        </label>

        <input type="date" id="open_date_box" name="query_open_date" value="<%= @the_listing.open_date %>">
      </div>

      <div>
        <label for="close_date_box">
          Close date
        </label>

        <input type="date" id="close_date_box" name="query_close_date" value="<%= @the_listing.close_date %>">
      </div>

      <div>
        <input type="checkbox" id="status_box" name="query_status" value="1" >

        <label for="status_box">
            Status
        </label>
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address" value="<%= @the_listing.address %>">
      </div>

      <div>
        <label for="num_beds_box">
          Num beds
        </label>

        <input type="text" id="num_beds_box" name="query_num_beds" value="<%= @the_listing.num_beds %>">
      </div>

      <div>
        <label for="num_baths_box">
          Num baths
        </label>

        <input type="text" id="num_baths_box" name="query_num_baths" value="<%= @the_listing.num_baths %>">
      </div>

      <div>
        <label for="num_rooms_box">
          Num rooms
        </label>

        <input type="text" id="num_rooms_box" name="query_num_rooms" value="<%= @the_listing.num_rooms %>">
      </div>

      <div>
        <label for="region_name_box">
          Region
        </label>

        <input type="text" id="region_name_box" name="query_region_name" value="<%= @the_listing.region.name %>">
      </div>

      <div>
        <label for="state_name_box">
          State
        </label>

        <input type="text" id="state_name_box" name="query_state_name" value="<%= @the_listing.state.name %>">
      </div>

      <div>
        <label for="city_name_box">
          City
        </label>

        <input type="text" id="city_name_box" name="query_city_name" value="<%= @the_listing.city.name %>">
      </div>

     <div>
        <input type="checkbox" id="furnished_box" name="query_furnished" value="1" <%= "checked" if @the_listing.furnished %>>

        <label for="furnished_box">
            Furnished
        </label>
      </div>

      <div>
        <label for="ammenities_box">
          Ammenities
        </label>

        <input type="text" id="ammenities_box" name="query_ammenities" value="<%= @the_listing.ammenities %>">
      </div>

      <div>
        <input type="checkbox" id="pets_box" name="query_pets" value="1" <%= "checked" if @the_listing.pets %>>

        <label for="pets_box">
            Pets
        </label>
      </div>

      <div>
        <input type="checkbox" id="smoking_box" name="query_smoking" value="1" <%= "checked" if @the_listing.smoking %>>

        <label for="smoking_box">
            Smoking
        </label>
      </div>

      <div>
        <label for="listing_type_box">
          Listing type ("Full" or "Room Only")
        </label>

        <input type="text" id="listing_type_box" name="query_listing_type" value="<%= @the_listing.listing_type %>">
      </div>

      <div>
        <label for="gender_pref_box">
          Gender pref
        </label>

        <input type="text" id="gender_pref_box" name="query_gender_pref" value="<%= @the_listing.gender_pref %>">
      </div>

      <div>
        <label for="floor_box">
          Floor
        </label>

        <input type="text" id="floor_box" name="query_floor" value="<%= @the_listing.floor %>">
      </div>

      <div>
        <label for="rent_box">
          Rent
        </label>

        <input type="text" id="rent_box" name="query_rent" value="<%= @the_listing.rent %>">
      </div>

      <div>
        <label for="dates_flex_box">
          Dates flex
        </label>

        <input type="text" id="dates_flex_box" name="query_dates_flex" value="<%= @the_listing.dates_flex %>">
      </div>

            <div>
        <label for="notes_box">
          Notes
        </label>

        <input type="text" id="notes_box" name="query_notes" value="<%= @the_listing.notes %>">
      </div>

      <div>
        <label for="website_url_box">
          Website url
        </label>

        <input type="text" id="website_url_box" name="query_website_url" value="<%= @the_listing.website_url %>">
      </div>

      <div>
        <label for="visibility_box">
          Visibility
        </label>

        <input type="text" id="visibility_box" name="query_visibility" value="<%= @the_listing.visibility %>">
      </div>

      <button>
        Complete Listing
      </button>
    </form>
  </div>
</div>
