<div>
  <div>
    <h1>
      All Listings
    </h1>
  </div>
</div>

<hr>

<div>
  <h2>
    <a href="/initiate_listing">
      Create New Listing
    </a>
  </h2>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Owner
        </th>

        <th>
          Open date
        </th>

        <th>
          Close date
        </th>

        <th>
          Status
        </th>

        <th>
          Address
        </th>

        <th>
          Num beds
        </th>

        <th>
          Num baths
        </th>

        <th>
          Num rooms
        </th>

        <th>
          Num beds offered
        </th>

        <th>
          Num baths
        </th>

        <th>
          Num rooms offered
        </th>

        <th>
          Region
        </th>

        <th>
          State
        </th>

        <th>
          City
        </th>

        <th>
          Furnished
        </th>

        <th>
          Ammenities
        </th>

        <th>
          Pets
        </th>

        <th>
          Smoking
        </th>

        <th>
          Listing Type
        </th>

        <th>
          Gender pref
        </th>

        <th>
          Floor
        </th>

        <th>
          Rent
        </th>

        <th>
          Dates flex
        </th>

        <th>
          Notes
        </th>

        <th>
          Website url
        </th>

        <th>
          Num watching
        </th>

        <th>
          Visibility
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_listings.each do |a_listing| %>
      <tr>
        <td>
          <%= a_listing.id %>
        </td>

        <td>
          <%= User.where(:id => a_listing.owner_id).first.username %>
        </td>

        <td>
          <%= a_listing.open_date %>
        </td>

        <td>
          <%= a_listing.close_date %>
        </td>

        <td>
          <%= a_listing.status %>
        </td>

        <td>
          <%= a_listing.address %>
        </td>

        <td>
          <%= a_listing.num_beds %>
        </td>

        <td>
          <%= a_listing.num_baths %>
        </td>

        <td>
          <%= a_listing.num_rooms %>
        </td>

        <td>
          <%= a_listing.num_beds_offered %>
        </td>

        <td>
          <%= a_listing.num_baths %>
        </td>

        <td>
          <%= a_listing.num_rooms_offered %>
        </td>

        <td>
          <%= a_listing.region.name %>
        </td>

        <td>
          <%= a_listing.state.name %>
        </td>

        <td>
          <%= a_listing.city.name %>
        </td>

        <td>
          <%= a_listing.furnished %>
        </td>

        <td>
          <%= a_listing.ammenities %>
        </td>

        <td>
          <%= a_listing.pets %>
        </td>

        <td>
          <%= a_listing.smoking %>
        </td>

        <td>
          <%= a_listing.listing_type %>
        </td>

        <td>
          <%= a_listing.gender_pref %>
        </td>

        <td>
          <%= a_listing.floor %>
        </td>

        <td>
          <%= a_listing.rent %>
        </td>

        <td>
          <%= a_listing.dates_flex %>
        </td>

        <td>
          <%= a_listing.notes %>
        </td>

        <td>
          <%= a_listing.map_url %>
        </td>

        <td>
          <%= a_listing.website_url %>
        </td>

        <td>
          <%= a_listing.num_watching %>
        </td>

        <td>
          <%= a_listing.visibility %>
        </td>

        <td>
          <%= time_ago_in_words(a_listing.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_listing.updated_at) %> ago
        </td>

        <td>
          <a href="/listings/<%= a_listing.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
