<h1> Let's start with the basics </h1>

<h4> Give us the essentials and we'll get your listing started! </h4>

<form action="/insert_listing" method="post">
  <input  type="hidden" id="owner_id" name="query_owner_id" value="<%=session[:user_id]%>">
 
  <div>
    <label for="open_date_box">
      Start Sublet:
    </label>
    <input placeholder="Enter a start date" type="date" id="open_date_box" name="query_open_date"></textarea>
  </div>
  
    <div>
    <label for="close_date_box">
      End Sublet:
    </label>
    <input placeholder="Enter a start date" type="date" id="close_date_box" name="query_close_date"></textarea>
  </div>

  <div>
    <label for="region_id_box">
      Region:
    </label>
    <select id="region_id_box" name="query_region_name">
      <option value= <%=Region.first.id%>>
        <%=Region.first.name%>
      </option>
      <option value= <%=nil%>>
        --
      </option>
    </select>
  </div>
  
  <div>
    <label for="state_id_box">
      State:
    </label>
    <select id="state_id_box" name="query_state_name">
        <option value= <%=nil%>>
          --
        </option>
      <% State.all.each do |state| %> 
        <option value= <%=state.id%>>
          <%=state.name%>
        </option>
      <%end%>
    </select>
  </div>
  
    <div>
    <label for="city_box">
      City:
    </label>
    <input placeholder="Watch your spelling :)" type="text" id="city_box" name="query_city_name"></textarea>
  </div>

  <div>
    <label for="address_box">
      Address:
    </label>
    <input placeholder="Where is the place?" type="text" id="address_box" name="query_address"></textarea>
  </div>

  <div>
    <label for="cost_box">
      Weekly Rent Price: $
    </label>
    <input placeholder="What are you charging?" type="number" id="cost_box" name="query_cost"  min="0"></textarea>
  </div>
<br>
  <div>
    Who should listing be visible to?
  </div>
  <div>
  <% @visibility.each do |i| %>
    <input type="radio" id="visibility<%=i%>" name="query_viibility" value=<%= @visibility.index %> required>
      <label for="visibility">
        <%=i%> 
      </label>
  <%end%>
  </div>
<br>

<!-- Use this later when you want to allow school specific visibilityfiltering!!!
  <div>
    Choose which schools' students can see your listing:
  </div>
  <% @school_list.each do |school| %>
  <input type="checkbox" id="school_<%=@school_list.index(school)%>" name="<%=school.name%>" value="<%=school.name%>">
    <label for="school_<%=@school_list.index(school)%>">
      <%=school.name%>
    </label>
    <br>
  <%end%>
<br>
!-->
  <div>
    Visible to people only of your Preferred Tenant Gender?
  </div>
  <div>
  <% @y_or_n.each do |i| %>
    <input type="radio" id="visibility" name="query_visibility" value=<%= i %> required>
      <label for="visibility">
        <%= i.to_s.gsub(/\w+/) { |word| word == "true" ? "Yes" : "No" }%>
      </label>
  <% end %>
  </div>
<br>
  <button>
    Post!
  </button>
</form>
