<div>
  <div>
    <h1>
      Listing #<%= @the_listing.id %> details
    </h1>

    <div>
      <div>
        <a href="/listings">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_listing/<%= @the_listing.id %>">
          Delete listing
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_listing.owner_id %>
      </dd>

      <dt>
        Open date
      </dt>
      <dd>
        <%= @the_listing.open_date %>
      </dd>

      <dt>
        Close date
      </dt>
      <dd>
        <%= @the_listing.close_date %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @the_listing.status %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <%= @the_listing.address %>
      </dd>

      <dt>
        Num beds
      </dt>
      <dd>
        <%= @the_listing.num_beds %>
      </dd>

      <dt>
        Num baths
      </dt>
      <dd>
        <%= @the_listing.num_baths %>
      </dd>

      <dt>
        Num rooms
      </dt>
      <dd>
        <%= @the_listing.num_rooms %>
      </dd>

      <dt>
        Num beds offered
      </dt>
      <dd>
        <%= @the_listing.num_beds_offered %>
      </dd>

      <dt>
        Num baths
      </dt>
      <dd>
        <%= @the_listing.num_baths %>
      </dd>

      <dt>
        Num rooms offered
      </dt>
      <dd>
        <%= @the_listing.num_rooms_offered %>
      </dd>

      <dt>
        Region
      </dt>
      <dd>
        <%= @the_listing.region_id %>
      </dd>

      <dt>
        State
      </dt>
      <dd>
        <%= @the_listing.state_id %>
      </dd>

      <dt>
        City
      </dt>
      <dd>
        <%= @the_listing.city_id %>
      </dd>

      <dt>
        Neighborhood
      </dt>
      <dd>
        <%= @the_listing.neighborhood_id %>
      </dd>

      <dt>
        Building
      </dt>
      <dd>
        <%= @the_listing.building_id %>
      </dd>

      <dt>
        Furnished
      </dt>
      <dd>
        <%= @the_listing.furnished %>
      </dd>

      <dt>
        Ammenities
      </dt>
      <dd>
        <%= @the_listing.ammenities %>
      </dd>

      <dt>
        Pets
      </dt>
      <dd>
        <%= @the_listing.pets %>
      </dd>

      <dt>
        Smoking
      </dt>
      <dd>
        <%= @the_listing.smoking %>
      </dd>

      <dt>
        Sublease category
      </dt>
      <dd>
        <%= @the_listing.sublease_category %>
      </dd>

      <dt>
        Gender pref
      </dt>
      <dd>
        <%= @the_listing.gender_pref %>
      </dd>

      <dt>
        Floor
      </dt>
      <dd>
        <%= @the_listing.floor %>
      </dd>

      <dt>
        Rent
      </dt>
      <dd>
        <%= @the_listing.rent %>
      </dd>

      <dt>
        Dates flex
      </dt>
      <dd>
        <%= @the_listing.dates_flex %>
      </dd>

      <dt>
        Start flex left
      </dt>
      <dd>
        <%= @the_listing.start_flex_left %>
      </dd>

      <dt>
        Start flex right
      </dt>
      <dd>
        <%= @the_listing.start_flex_right %>
      </dd>

      <dt>
        End flex left
      </dt>
      <dd>
        <%= @the_listing.end_flex_left %>
      </dd>

      <dt>
        End flex right
      </dt>
      <dd>
        <%= @the_listing.end_flex_right %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @the_listing.notes %>
      </dd>

      <dt>
        Map url
      </dt>
      <dd>
        <%= @the_listing.map_url %>
      </dd>

      <dt>
        Website url
      </dt>
      <dd>
        <%= @the_listing.website_url %>
      </dd>

      <dt>
        Satellite url
      </dt>
      <dd>
        <%= @the_listing.satellite_url %>
      </dd>

      <dt>
        Num watching
      </dt>
      <dd>
        <%= @the_listing.num_watching %>
      </dd>

      <dt>
        Visibility
      </dt>
      <dd>
        <%= @the_listing.visibility %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_listing.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_listing.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit listing
    </h2>

    <form action="/modify_listing/<%= @the_listing.id %>"  method="post" >
      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_listing.owner_id %>">
      </div>

      <div>
        <label for="open_date_box">
          Open date
        </label>

        <input type="date" id="open_date_box" name="query_open_date" value="<%= @the_listing.open_date %>">
      </div>

      <div>
        <label for="close_date_box">
          Close date
        </label>

        <input type="date" id="close_date_box" name="query_close_date" value="<%= @the_listing.close_date %>">
      </div>

      <div>
        <input type="checkbox" id="status_box" name="query_status" value="1" <%= "checked" if @the_listing.status %>>

        <label for="status_box">
            Status
        </label>
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address" value="<%= @the_listing.address %>">
      </div>

      <div>
        <label for="num_beds_box">
          Num beds
        </label>

        <input type="text" id="num_beds_box" name="query_num_beds" value="<%= @the_listing.num_beds %>">
      </div>

      <div>
        <label for="num_baths_box">
          Num baths
        </label>

        <input type="text" id="num_baths_box" name="query_num_baths" value="<%= @the_listing.num_baths %>">
      </div>

      <div>
        <label for="num_rooms_box">
          Num rooms
        </label>

        <input type="text" id="num_rooms_box" name="query_num_rooms" value="<%= @the_listing.num_rooms %>">
      </div>

      <div>
        <label for="num_beds_offered_box">
          Num beds offered
        </label>

        <input type="text" id="num_beds_offered_box" name="query_num_beds_offered" value="<%= @the_listing.num_beds_offered %>">
      </div>

      <div>
        <label for="num_baths_box">
          Num baths
        </label>

        <input type="text" id="num_baths_box" name="query_num_baths" value="<%= @the_listing.num_baths %>">
      </div>

      <div>
        <label for="num_rooms_offered_box">
          Num rooms offered
        </label>

        <input type="text" id="num_rooms_offered_box" name="query_num_rooms_offered" value="<%= @the_listing.num_rooms_offered %>">
      </div>

      <div>
        <label for="region_id_box">
          Region
        </label>

        <input type="text" id="region_id_box" name="query_region_id" value="<%= @the_listing.region_id %>">
      </div>

      <div>
        <label for="state_id_box">
          State
        </label>

        <input type="text" id="state_id_box" name="query_state_id" value="<%= @the_listing.state_id %>">
      </div>

      <div>
        <label for="city_id_box">
          City
        </label>

        <input type="text" id="city_id_box" name="query_city_id" value="<%= @the_listing.city_id %>">
      </div>

      <div>
        <label for="neighborhood_id_box">
          Neighborhood
        </label>

        <input type="text" id="neighborhood_id_box" name="query_neighborhood_id" value="<%= @the_listing.neighborhood_id %>">
      </div>

      <div>
        <label for="building_id_box">
          Building
        </label>

        <input type="text" id="building_id_box" name="query_building_id" value="<%= @the_listing.building_id %>">
      </div>

      <div>
        <input type="checkbox" id="furnished_box" name="query_furnished" value="1" <%= "checked" if @the_listing.furnished %>>

        <label for="furnished_box">
            Furnished
        </label>
      </div>

      <div>
        <label for="ammenities_box">
          Ammenities
        </label>

        <input type="text" id="ammenities_box" name="query_ammenities" value="<%= @the_listing.ammenities %>">
      </div>

      <div>
        <input type="checkbox" id="pets_box" name="query_pets" value="1" <%= "checked" if @the_listing.pets %>>

        <label for="pets_box">
            Pets
        </label>
      </div>

      <div>
        <input type="checkbox" id="smoking_box" name="query_smoking" value="1" <%= "checked" if @the_listing.smoking %>>

        <label for="smoking_box">
            Smoking
        </label>
      </div>

      <div>
        <label for="sublease_category_box">
          Sublease category
        </label>

        <input type="text" id="sublease_category_box" name="query_sublease_category" value="<%= @the_listing.sublease_category %>">
      </div>

      <div>
        <label for="gender_pref_box">
          Gender pref
        </label>

        <input type="text" id="gender_pref_box" name="query_gender_pref" value="<%= @the_listing.gender_pref %>">
      </div>

      <div>
        <label for="floor_box">
          Floor
        </label>

        <input type="text" id="floor_box" name="query_floor" value="<%= @the_listing.floor %>">
      </div>

      <div>
        <label for="rent_box">
          Rent
        </label>

        <input type="text" id="rent_box" name="query_rent" value="<%= @the_listing.rent %>">
      </div>

      <div>
        <label for="dates_flex_box">
          Dates flex
        </label>

        <input type="text" id="dates_flex_box" name="query_dates_flex" value="<%= @the_listing.dates_flex %>">
      </div>

      <div>
        <label for="start_flex_left_box">
          Start flex left
        </label>

        <input type="text" id="start_flex_left_box" name="query_start_flex_left" value="<%= @the_listing.start_flex_left %>">
      </div>

      <div>
        <label for="start_flex_right_box">
          Start flex right
        </label>

        <input type="text" id="start_flex_right_box" name="query_start_flex_right" value="<%= @the_listing.start_flex_right %>">
      </div>

      <div>
        <label for="end_flex_left_box">
          End flex left
        </label>

        <input type="text" id="end_flex_left_box" name="query_end_flex_left" value="<%= @the_listing.end_flex_left %>">
      </div>

      <div>
        <label for="end_flex_right_box">
          End flex right
        </label>

        <input type="text" id="end_flex_right_box" name="query_end_flex_right" value="<%= @the_listing.end_flex_right %>">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <input type="text" id="notes_box" name="query_notes" value="<%= @the_listing.notes %>">
      </div>

      <div>
        <label for="map_url_box">
          Map url
        </label>

        <input type="text" id="map_url_box" name="query_map_url" value="<%= @the_listing.map_url %>">
      </div>

      <div>
        <label for="website_url_box">
          Website url
        </label>

        <input type="text" id="website_url_box" name="query_website_url" value="<%= @the_listing.website_url %>">
      </div>

      <div>
        <label for="satellite_url_box">
          Satellite url
        </label>

        <input type="text" id="satellite_url_box" name="query_satellite_url" value="<%= @the_listing.satellite_url %>">
      </div>

      <div>
        <label for="num_watching_box">
          Num watching
        </label>

        <input type="text" id="num_watching_box" name="query_num_watching" value="<%= @the_listing.num_watching %>">
      </div>

      <div>
        <label for="visibility_box">
          Visibility
        </label>

        <input type="text" id="visibility_box" name="query_visibility" value="<%= @the_listing.visibility %>">
      </div>

      <button>
        Update listing
      </button>
    </form>
  </div>
</div>

<hr>
