<h1>
Find your next temporary home!
</h1>

<h3>
Where are you going?
</h3>

<p> Specify any number of search criteria:</p>

<form action="/search_sublets" method="get">
  <div>
    <label for="start_date_box">
      Start Date:
    </label>
    <input placeholder="Enter a start date" type="date" id="start_date_box" name="query_start_date"></textarea>
  </div>
    <div>
    <label for="end_date_box">
      End Date:
    </label>
    <input placeholder="Enter a start date" type="date" id="end_date_box" name="query_end_date"></textarea>
  </div>
  <div>
    <label for="region_id_box">
      Region:
    </label>
    <select id="region_id_box" name="query_region_id">
        <option value= <%=nil%>>
          --
        </option>
      <% Region.all.each do |region| %> 
        <option value= <%=region.id%>>
          <%=region.name%>
        </option>
      <%end%>
    </select>
  </div>
  
  <div>
    <label for="state_id_box">
      State:
    </label>
    <select id="state_id_box" name="query_state_id">
        <option value= <%=nil%>>
          --
        </option>
      <% State.all.each do |state| %> 
        <option value= <%=state.id%>>
          <%=state.name%>
        </option>
      <%end%>
    </select>
  </div>
  
  <div>
    <label for="city_id_box">
      City:
    </label>
    <select id="city_id_box" name="query_city_id">
        <option value= <%=nil%>>
          --
        </option>
      <% City.all.each do |city| %> 
        <option value= <%=city.id%>>
          <%=city.name%>
        </option>
      <%end%>
    </select>
  </div>
  
  <div>
    <label for="school_id_box">
      School:
    </label>
    <select id="school_id_box" name="query_school_id">
        <option value= <%=nil%>>
          --
        </option>
      <% School.all.each do |school| %> 
        <option value= <%=school.id%>>
          <%=school.name%>
        </option>
      <%end%>
    </select>
  </div>

  <div>
    <label for="firm_id_box">
      Firm:
    </label>
    <select id="firm_id_box" name="query_firm_id">
        <option value= <%=nil%>>
          --
        </option>
      <% Firm.all.each do |firm| %> 
        <option value= <%=firm.id%>>
          <%=firm.name%>
        </option>
      <%end%>
    </select>
  </div>

  <div>
    <label for="cost_box">
      Weekly Rent Cost: $
    </label>
    <input placeholder="Enter a positive integer value" type="number" id="cost_box" name="query_cost"  min="0"></textarea>
  </div>
<br>
  <div>
    <label for="location_box">
      Shortest distance from:
    </label>
    <input placeholder="Address" type="text" id="location_box" name="query_location" ></textarea>
  </div>
  <div>
      <label for="trans_method_box">
        Via
      </label>
      <select id="trans_method_box" name="query_trans_method">
        <option value= <%=nil%>>
          --
        </option>
      <% @trans_methods.each do |movement| %> 
        <option value= <%=movement%>>
          <%=movement%>
        </option>
      <%end%>
      </select>


  </div>

  <button>
    Search!
  </button>
</form>
